:root{
    --magenta:#d81159;
    --nero:#0c090d;
    --bianco:#fffdf3;
    --primary-font:'Gruppo', cursive;
    --secondary-font:'Merriweather', serif;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: .625rem;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0);
    border-radius: .313rem;
}
::-webkit-scrollbar-thumb{
    background-color: var(--magenta);
    border-radius: .313rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(156, 15, 64);
}
 /* flex elements  */
 .container-menu,.layer,.menu,.cube div span,.top,div a,.link,.container-skills,.skills-name,.skills-name div,.bar-container,.container-about-me,
 .study,.about-me,.interest,.card,#projects,.first-project,.coming-soon,.up,.form-contact,.social,#contact,form{
     display: flex;
 }
.layer,.cube div span,div a,.link,.container-skills,.study,.about-me,.interest,.card,#projects,.first-project,.coming-soon,.up{
    align-items: center;
    justify-content: center;
}
h1{
    color:var(--bianco);
    cursor:default;
}
h1:hover{
 animation: neon 3s forwards;
}
@keyframes neon {
    0%{    text-shadow:#FFF 0px 0px 5px,
        #FFF 0px 0px 10px,
        #FFF 0px 0px 15px,
        #FF2D95 0px 0px 20px,
        #FF2D95 0px 0px 30px,
        #FF2D95 0px 0px 40px,
        #FF2D95 0px 0px 50px,
        #FF2D95 0px 0px 75px,
         2px 2px 2px rgba(216,17,89,0);}
    20%{text-shadow: none;}
    30%{    text-shadow:#FFF 0px 0px 5px,
        #FFF 0px 0px 10px,
        #FFF 0px 0px 15px,
        #FF2D95 0px 0px 20px,
        #FF2D95 0px 0px 30px,
        #FF2D95 0px 0px 40px,
        #FF2D95 0px 0px 50px,
        #FF2D95 0px 0px 75px,
         2px 2px 2px rgba(216,17,89,0);}
    60%{text-shadow: none;}
    100%{    text-shadow:#FFF 0px 0px 5px,
        #FFF 0px 0px 10px,
        #FFF 0px 0px 15px,
        #FF2D95 0px 0px 20px,
        #FF2D95 0px 0px 30px,
        #FF2D95 0px 0px 40px,
        #FF2D95 0px 0px 50px,
        #FF2D95 0px 0px 75px,
         2px 2px 2px rgba(216,17,89,0);}
}
h1{
    margin: 2rem;
}
h1,h2,h3{
    font-family:var(--primary-font);
    text-align: center;
    padding: 1.875rem;
}
h2{
    font-size:1.875rem ;
}
h3{
    font-size: 1.563rem;
}
header{
    background-color: var(--nero);
    padding-bottom: 2.5rem;
}
/* logo */
.logo{
    padding-top:2rem;
}
.layer{
    margin: 3.125rem auto 1.563rem auto ;
    width: 6.25rem;
    height: 6.25rem;
    position: relative;
    border-radius: 50%;
}
.circle{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.name{
  position: absolute;
  z-index: 10;
  font-family: 'Fira Code', monospace;
  font-size: 1.563rem;
  transition: .5s;
  font-weight: 900;
  color: white;
}
.one{
    border: .313rem solid var(--magenta);
    z-index: 2;
}
.one,.two,.three,.four{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.layer:hover .name{
    transition: 2s;
    transform: translate(-.938rem,-.938rem);
}
@keyframes border {
    0%{border: none;}
    20%{border-top: .25rem solid white;}
    40%{border-right: .25rem solid white;}
    60%{border-bottom: .25rem solid white;}
    80%{border-left: .25rem solid white;}
    100%{border:.25rem solid white}
}
.layer:hover{
    transition: 2s;
    transform: translate(-0.938rem,-0.313rem) rotateY(-15deg)skewY(-10deg);
}
.layer:hover .one{
    transform: translate(-.938rem,-.938rem);
    animation: border 2s linear forwards;
}
.layer:hover .two{
    transition: 1s;
    transform: translate( -1.563rem, -1.563rem);
    background-color: #D8115950;
}
.layer:hover .three{
    transition: 2s;
    transform: translate(-2.188rem,-2.188rem);
    background-color: #D8115940;
}
.layer:hover .four{
    transition: 3s;
    transform: translate(-2.813rem,-2.813rem);
    background-color: #D8115930;
}
/* profile image for mobile  */
.profile-mobile{
    width: 15rem;
    height:22rem;
    background-image: url(/SerenaGiumentaro.github.io/assets/img/profile.jpeg);
    background-size:15rem 25rem ;
    display: none;
    margin: auto;
}
/* cube  */
.container-menu{
    justify-content: center;
    height: 50rem;
    width: 100%;
}
.menu{
    width: 18.75rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cube{
    margin: 2.5rem 0;
    position: relative;
    width: 3.125rem;
    height: 3.125rem;
    transform-style: preserve-3d;
    animation: rotate 4s linear infinite;
}
@keyframes rotate {
    0%{    transform: rotateX(-30deg) rotateY(0deg);    }
   100%{    transform: rotateX(-30deg) rotateY(360deg);    }
}
.cube div{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#050505,#D81159);
    transform: rotateY(calc(90deg*var(--i)))translateZ(1.563rem);
    transform-style: preserve-3d;
}
.top{
    background: #222;
    transform: rotateX(90deg) translateZ(25px);
}
.top::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3.125rem;
    height: 3.125rem;
    background-color: #d81159;
    transform: translateZ(-6.25rem);
    filter: blur(.938rem);

    box-shadow: 0 0 6.25rem rgb(216, 17, 89),
                0 0 9.375rem  rgb(216, 17, 89,0.8),
                0 0 9.375rem  rgb(216, 17, 89,0.6),
                0 0 12.5rem  rgb(216, 17, 89,0.4),
                0 0 15.625rem  rgb(216, 17, 89,0.2),
                0 0 18.75rem  rgb(216, 17, 89,0.1);
}
span p{
    color:white;
    font-size:1.125rem;
    font-family:var(--primary-font);
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(3.125rem);
    text-decoration: none;
}
div a {
    position: relative;
}
.empty{
    position: absolute;
    width: 6.25rem;
    height: 6.25rem;
    z-index: 1;
    transform: translateY(3.75rem);
}
a:hover ~.cube{
    animation: hover 3s forwards;
}
@keyframes hover {
    0%{    transform: rotateX(-90deg) rotateY(0deg);    }
   100%{    transform: rotateX(-40deg) rotateY(40deg);    }
}
.img-pointer{
    position: relative;
    border:1px solid;
    width: 30rem;
    height: 50rem;
}
.item1 .empty:hover .first,.item2 .empty:hover .second,.item3 .empty:hover .third,.item4 .empty:hover .fourth{
   display:block;
}
.first,.second,.third,.fourth{
    display: none;
}
.first,.second,.third,.fourth{
    left:12.5rem;
    border:none;
}
.first{
    top:-45%;
    background-image: url(/SerenaGiumentaro.github.io/assets/img/skill.jpeg);
}
.second{
    background-image: url(/SerenaGiumentaro.github.io/assets/img/about-me.jpeg);
    top:-245%;
}
.third{
    background-image: url(/SerenaGiumentaro.github.io/assets/img/project.jpg);
    top:-445%;
}
.fourth{
    background-image: url(/SerenaGiumentaro.github.io/assets/img/contact-me.jpeg);
    top:-645%;
}
.img-animated{
    background-image: url(/SerenaGiumentaro.github.io/assets/img/profile.jpeg);
    background-repeat: no-repeat;
    width: 30rem;
}
.img-animated:hover{
    background-image: url(/SerenaGiumentaro.github.io/assets/img/hello.png);
    animation: hello 5s steps(18) infinite;
}
@keyframes hello {
    100%{background-position: -8676px,0;}
}
.img-animated::after,.img-animated::before{
    content: "";
    position: absolute;
    width:30rem;
    height: 12rem;
    top: 59.7em;
    z-index: 2;
}
@keyframes lava {
    0%{border-radius: 100% 0% 50% 50% / 100% 100% 0% 0% ;}
    50%{border-radius: 0% 100% 50% 50% / 100% 100% 0% 0% ;}
    100%{border-radius:100% 0% 50% 50% / 100% 100% 0% 0%  ;}
}
.img-animated::after{
    border-radius: 100% 0% 50% 50% / 100% 100% 0% 0%   ;
    background-color: var(--magenta);
    animation: lava 10s linear infinite;
    animation-delay: 5s;
}
.img-animated::before{
    border-radius: 0% 100% 59% 41% / 100% 100% 0% 0%   ;
    background-color: var(--bianco);
    animation: lava 10s reverse infinite;
}


/* skills bar  */
#skills h1{
    color: var(--magenta);
}
.container-skills{
    flex-wrap: wrap;
    width: 90%;
    margin:3.125rem auto;
    height: 31.25rem;
    background: #f0f0f0;
    box-shadow:  0 0 0 #cccccc,
                 0 0 0 #ffffff,
                  .625rem .625rem .625rem #cccccc inset,
                  -.625rem -.625rem .625rem #ffffff ;
}
.profile-photo{
    width: 16rem;
    height: 80%;
    margin-left: 1.25rem;
    border: 1px solid black;
    background-image: url(/SerenaGiumentaro.github.io/assets/img/ballo.png);
    animation: ballo 5s steps(19) infinite;
    border: none;
}
.profile-photo:hover{
    background-image: url(/SerenaGiumentaro.github.io/assets/img/what.jpeg);
    animation: none;
}
.profile-photo:hover p{
    font-size: 2rem;
    color: var(--bianco);
    text-align: center;
    margin-top: 10rem;
}
.profile-photo p{
    font-size: 0rem;
}
@keyframes ballo {
    100%{ background-position: -5092px ,0px;}
}
.skills-name{
    width: 6.875rem;
    height: 80%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    font-family: var(--secondary-font);
}
.skills-name div{
    align-items: center;
    padding-right: .313rem;
    height:  5%;
    font-size: .72em;
    color: var(--magenta);
    font-weight: 800;
}
.bar-container{
    width: 12.5rem;
    height: 80%;
    justify-content: space-around;
    flex-direction: column;
}
.bar{
    width: 100%;
    height: 3vh;
    border-radius: 1.25rem;
    background-color: rgba(0,0,0,.3);
    box-shadow: inset 0 1px .25rem 2px rgba(0,0,0,.8),
                inset 0 1px 2px 3px rgba(0, 0, 0, .5);
}
.bar::before{
    content: "";
    border-radius: 1.25rem;
    overflow: hidden;
    height: 2vh;
    margin: .25rem;
    width: calc(2px *var(--a));
    position: absolute;
    background: linear-gradient(to bottom, #d81159,#550724);
    animation: progress 5s infinite linear;
}
.bar::after{
    position: absolute;
    border-radius: 1.25rem;
    margin: .25rem;
    content: "";
    height: 2vh;
    width: calc(2px *var(--a));
    animation: progressAfter 5s infinite linear;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
}
.bar-container:hover .bar::before,.bar-container:hover .bar::after{
    animation:none;
}
@keyframes progressAfter {
    0%{background-position: 40px 0;width: 1.25rem;}
    50%{width: calc(2px *var(--a));}
    100%{background-position: 0 0;width: 1.25rem;}
}
@keyframes progress {
    0%{width: 1.25rem;}
    50%{width: calc(2px *var(--a));}
    100%{width: 1.25rem;}
}

/* cards about me  */
.container-about-me{
    padding-top: 3.125rem;
    background-image: linear-gradient(#d81159,#6e072d);
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#about-me{
    background-color: var(--magenta);
    color: var(--bianco);
}
.grid{
    display: grid;
    grid-template-columns: 5rem 5rem;
    grid-template-rows: 4.375rem 4.375rem 4.375rem;
}
.icon{
    text-align: center;
    border-radius: 30%;
    display: block;
    margin: auto;
}
.study,.about-me,.interest{
    border-radius: 15%;
    width: 12.5rem;
    height: 16.25rem;
    position: relative;
    overflow: hidden;
    color: white;
}
ul{
    margin-left: 1.875rem;
}
.about-me p{
    margin:.938rem;
}
.study ul,.grid,.about-me p{
   position: relative;
    z-index: 10;
}
li{
    list-style-type:  "✭";
}
.study::after,.interest::after,.about-me::after{
    content: "";
    width: 95%;
    border-radius: 15%;
    height: 95%;
    position: absolute;
    background-color:black;
}
.study::before,.interest::before,.about-me::before{
    content: "";
    width: 50%;
    height: 130%;
    position: absolute;
    border-radius: 15%;
    background: linear-gradient(#d81159,#6e072d);
    z-index: -1;
    animation: card-border 2s linear infinite;
}
@keyframes card-border {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
strong{
    font-size: 1.25rem;
}
.card{
    border-radius: 15%;
    background-color:black;
    box-shadow: -.625rem -.625rem .625rem .313rem rgba(0, 0, 0,0.7),
                -.625rem -.625rem 1.25rem 1.875rem rgba(0, 0, 0,0.3),
                inset -.625rem -.625rem 1.25rem .938rem black,
                inset -1.25rem -1.25rem .625rem .313rem rgba(128, 128, 128,0.9),
                inset -1.25rem -1.25rem 6.25rem .625rem rgba(128, 128, 128,0.5);
    margin: 6.25rem 1.563rem;
    width: 15.625rem;
    height: 18.75rem;
    position: relative;
    z-index: 0;
}
.card:hover .study::before,.card:hover .interest::before,.card:hover .about-me::before{
    background: white;
}
.study:hover,.interest:hover,.about-me:hover{
    transition: 1.5s;
    transform: translateY(-6.25rem);
}
.title{
    position: absolute;
    bottom: 21.75rem;
    color: white;
}
.icon:nth-child(5),.icon:nth-child(6){
    font-size: .938rem;
}

/* projects  */
#projects{
    background-color: var(--bianco);
    flex-direction: column;
}
.first-project,.coming-soon{
    width: 80%;
    height: 31.25rem;
    box-shadow:  0 0 0 #cccccc,
    0 0 0 #ffffff,
     .625rem .625rem .625rem #cccccc,
     -.625rem -.625rem .625rem #ffffff ;
     margin:1.25rem 0;
     z-index: 0;
}
.first-project img{
    width: 80%;
}

.first-project a:hover{
    transform: scale(1.2);
    transition: 1.2s;
}
.coming-soon p{
    font-size:0;
    color: var(--magenta);
    font-weight: var(--primary-font);
    text-shadow: 0px 1.875rem 5px rgb(0, 0, 0);
}
.coming-soon:hover p{
    animation: coming 5s forwards;
    cursor: default;
}
@keyframes coming {
    100%{font-size: 5rem;}
}
#contact{
    width: 100%;
    height: 50rem;
    background: linear-gradient(to right, #434343, #000000);
    color: var(--bianco);
    flex-direction: column;
    justify-content: space-around;
}
.container-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
form{
    font-family: var(--secondary-font);
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5rem;
}
.say-goodbye{
    height: 25rem;
    width: 18rem;
    background-image: url(/SerenaGiumentaro.github.io/assets/img/byebye.png);
    animation: hellohello 6s steps(23) infinite;
}
@keyframes hellohello {
    100%{background-position: -6946px ,0;}
}
input,textarea{
    font-family: var(--secondary-font);
    margin: 0.5rem 0 1rem 0;
    width: 18rem;
}
input[type="submit"]{
    width: 7rem;
    height: 1.8rem;
    background:var(--magenta);
    color: var(--bianco);
    justify-self: center;
    align-self: center;
}
.social{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--bianco);
    text-decoration: none;
}
.social div{
    margin:1rem;
    font-size: 2rem;
}
.social ion-icon{
    fill: var(--bianco) !important;
}
footer{
    background: linear-gradient(to right, #434343, #00000050);
    height: 20%;
    justify-content: center;
    align-items: center;
}
footer div{
    text-align: center;
}
.copyright{
    height: 2rem;

}
.up{
    position: fixed;
    bottom: 3.125rem;
    right: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
    background-color: #f0f0f050;
}
.up a {
    color: var(--magenta);
    text-decoration: none;
    font-size: 1.25rem;
}
/* media queries */

@media screen and (min-width:30.063rem){
    .container-about-me{
    flex-direction: row;
    align-items: center;}

}
@media screen and (max-width: 49.375em){
   .img-animated,.img-pointer{
       display: none;
   }
   .item1 .empty:hover .first,.item2 .empty:hover .second,.item3 .empty:hover .third,.item4 .empty:hover .fourth{
    display:none;
 }
 .profile-mobile{
     display: block;
 }
    #skills{
        margin-bottom: 21.875rem;
    }
    .container-skills{
        box-shadow: none;
    }
    .profile-photo{
        margin-top: .938rem;
    }
    @keyframes coming {
        100%{font-size: 3rem;}
    }
    .container-form{
        flex-direction: column;
    }
    #contact{
        height: 70rem;
    }
    form{
        margin: 5rem 0;
    }
}
@media (max-width:64rem){
    .container-skills{
        width: 100%;
        background:none;
    }
}
@media screen and (max-width:19.938rem) {

    .skills-name {
       width: 5rem;
    }
    .skills-name div{
        font-size: .5rem;
    }

}
